.DetailsPage{
    padding: 3%;
    padding-top: 1%;
}
.Quote{
    margin: auto;
}

.Pics{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.Content{
    margin-top: 10px;
    margin-bottom: 20px;
}
.Heading{
    font-family: "Finger Paint";
    padding-top: 0;
}

.More{
    width: 100%;
    margin: auto;
}

.Flashback{
    width: 800px;
    margin: 40px auto;

}

@media(max-width:480px){
    .Flashback{
        width: 95%;
    }
}