.CustomButtonCSS {
  margin-top: 150px;
  padding-left:10px ;
  padding-right: 10px;
}

.Horizondal {
    text-align: center;
    display: flex;
    flex-flow: row;
    margin: 150px auto 0px;
}

.Vertical{
  display: none;
}

.Intro{
  margin: 300px auto;
  text-align: center;
  font-family: "Finger Paint";
}

.Intro h2{
  font-size: 58px;
}

.Intro img{
  width:250px;
}

@media (max-width : 480px) {
  .Horizondal{
    display: none;
  }
  .Vertical{
    display: flex;
    flex-flow: column;
  }
  .Intro{
    margin: 150px auto;
    position: fixed;
    font-size: 26px;
    padding: 1% ;
  }
  .Intro h2{
    font-size: 32px;
  }
  .Intro img{
    width: 200px;
  }
}